/* Header */
.header-container{
    display: flex;
    justify-content: space-between;
    background-color: rgba(243, 10, 10, 0.904);
    padding: 0px 5px;
}

.logo img{
    width: 120px;
    
}
.nav-items{
    padding: 10px;
      
}

.nav-items ul {
    display: flex;

}
.nav-items li{
   margin: 10px;
      list-style-type: none;
      color:white;
      font-size: 18px;
}

.nav-items ul :hover{
    cursor: pointer;
}

/* Body */
/* Res-Card */
.res-card img {
    width: 200px;
    border-radius: 10px;
}

.res-card{
    border: solid 1px rgb(207, 204, 204);
    border-radius: 10px;
    background-color: rgba(224, 222, 222, 0.747);
    width: min-content;
    padding: 5px;
    margin: 10px;
    cursor: pointer;
}

.restaurant-list{
    display: flex;
    flex-wrap: wrap;
}
